/* GitHub Flavored Markdown CSS のための基本的な設定 */
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

/* コードブロックのフォントサイズ調整（任意） */
pre code {
    font-size: 0.9em; /* 必要に応じて調整 */
}

body {
  background-color: #ffffff;
  /* 例: body の背景をライトグレーにする場合 */
  /* background-color: #f8f8f8; */
}